@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/HelveticaNeueLTPro-Lt.woff2') format('woff2'),
        url('fonts/HelveticaNeueLTPro-Lt.woff') format('woff'),
        url('fonts/HelveticaNeueLTPro-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
    background-color: black;
    font-family: "Helvetica Neue LT Pro", Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    background: #ccc;
    padding: 5px;
  }
  
  main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }

  a {
    color: #2D2926;
    text-align: left;
    text-decoration: none;
  }

  a:hover {
    opacity: .7;
  }

.content {
    opacity: 0; /* Initially set the logo to be invisible */
    animation: fadeIn 1s ease 1.5s forwards; /* Use an animation named "fadeIn" */
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.cover-image {
    width: auto;
    object-fit: cover; /* The first image uses cover */
    object-position: 50% 50%; /* You can adjust this as needed */
    height: 100vh;
}


/* Lazy loading for subsequent images */
.secondary-image {
    object-fit: cover; /* Subsequent images use contain */
    object-position: center center;
    height: 75vh;
    loading: lazy;
    z-index: 2;
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        opacity: 1; /* End with opacity 1, fully visible */
}
}

/* Hide Desktop Logo on Mobile */
#logo-desktop {
    display: none;
}

/* Show Mobile Logo on Mobile */
#logo-mobile {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s; /* Add a smooth transition for the logo */
    opacity: 0; /* Initially set the logo to be invisible */
    animation: fadeIn 1s ease .5s forwards; /* Use an animation named "fadeIn" */
    z-index: 2;
    width: 63.67vw; /* Set the logo width for mobile devices */
}

.remove #logo-mobile {
    display: none;
}

footer {
    padding: 0;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E5DB;
    color: #2D2926;
}

.column {
    flex: 0 0 100%;
    max-width: 100%;
}

.inner-column {
    padding: 18px;
}

.footer-logo {
    text-align: left;
    width: 50%;
    height: auto;

}

.footer-ul {
    list-style: none;
    padding: 0;
    text-align: left;
    column-count: 2; /* Start with one column */
    column-gap: 0; /* No gap between columns */
    margin: 0;
}

ul li {
    margin-bottom: 2px; /* Add spacing between list items */
}

form-abc {
    border-bottom: #2D2926;
    border-width: thin;
}

@media (min-width: 768px) {
    .cover-image {
        width: 100%; /* Adjust the width for larger viewports */
    }
    .secondary-image {
        height: 100vh;
    }
    /* Mobile Logo */
    #logo-mobile {
        display: none;
    }

    /* Desktop Logo */
    #logo-desktop{
    display: block;
    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.5s; /* Add a smooth transition for the logo */
        opacity: 0; /* Initially set the logo to be invisible */
        animation: fadeIn 1s ease .5s forwards; /* Use an animation named "fadeIn" */
        z-index: 2;
        width: 66.67vw;
    }

    .remove #logo-desktop {
        display: none;
    }

    .column {
        flex: 0 0 33.3333%;
        overflow: hidden;
        max-width: 33.3333%;
    
    }
}
